/* Write your CSS code here */

/* Write your CSS code here */
.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.aboutImg {
  width: 150px;
}

.aboutHeading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #6d396b;
  font-size: 24px;
}

@media (min-width: 576px) {
  .aboutHeading {
    font-size: 48px;
  }
}

.aboutParagraph {
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  color: #555555;
}
