/* Write your CSS code here */
.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.homeImg {
  width: 150px;
}

.homeHeading {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 56px;
  color: #6d396b;
}

@media (min-width: 576px) {
  .homeHeading {
    font-size: 48px;
  }
}
